body.duihuanchenggong {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
            -webkit-text-fill-color: #010101;
            color: #010101;
        }
    }
    /*main*/
    .main {
        min-height: calc(100vh - 0.6rem - 0.2rem - 0.36rem - 0.05rem);

        img {
            margin-top: 25%;
            width: 18%;
        }

        .text {
            font-size: 0.3rem;
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 0.95rem;
        }

        .btn-red {
            font-size: 0.34rem;
            height: 0.73rem;
            line-height: 0.73rem;
            width: 50%;
            border-radius: 0.365rem;
        }
    }
}
