body.wodeduihuan {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
            -webkit-text-fill-color: #010101;
            color: #010101;
        }
    }
    /*search-group*/
    .search-section {
        height: 0.93rem;
        background: #ffffff;
        padding-left: 4%;
        border-bottom: 1px solid #f2f2f2;

        .search-group {
            width: 64%;
            height: 0.6rem;
            border-radius: 0.3rem;
            overflow: hidden;
            background: #f6f6f6;

            img.icon {
                width: 0.28rem;
                height: auto;
                margin-left: 0.35rem;
            }

            span {
                font-size: 0.28rem;
                margin: 0 0.33rem 0 0.31rem;
                -webkit-text-fill-color: #d9d7d7;
                color: #d9d7d7;
            }

            input {
                height: 0.6rem;
                line-height: 0.6rem;
                font-size: 0.28rem;
                width: calc(100% - 0.28rem - 0.4rem - 0.32rem - 0.35rem);
                border: none;
                padding: 0;
                background-color: transparent;


                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    -webkit-text-fill-color: #cfcdcd;
                    color: #cfcdcd;
                }

                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    -webkit-text-fill-color: #cfcdcd;
                    color: #cfcdcd;
                }

                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    -webkit-text-fill-color: #cfcdcd;
                    color: #cfcdcd;
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    -webkit-text-fill-color: #cfcdcd;
                    color: #cfcdcd;
                }
            }
        }
    }
    /*main*/
    .main {
        .tab-template {
            .tabs {
                background-color: #ffffff;

                .tab {
                    font-size: 0.28rem;
                    height: 0.9rem;
                    line-height: 0.9rem;

                    &.active {
                        -webkit-text-fill-color: #c6010c;
                        color: #c6010c;
                        border-bottom: 0.02rem solid #c6010c;
                    }
                }
            }

            .tab-containers {

                .tab-container {
                    display: none;
                    /*items*/
                    .items {
                        margin-bottom: 2rem;

                        .item {
                            margin: 0.22rem 0.27rem;
                            border-radius: 0.12rem;
                            background-color: #ffffff;
                            box-shadow: 0 0px 2px rgba(0,0,0,0.1);

                            .line-1 {
                                height: 1.2rem;

                                .left {
                                    padding-left: 0.2rem;
                                    width: 70%;

                                    .text {
                                        font-size: 0.24rem;
                                        line-height: 1.5;
                                    }
                                }

                                .right {
                                    font-size: 0.28rem;
                                    -webkit-text-fill-color: #c6010c;
                                    color: #c6010c;
                                    padding-right: 0.15rem;
                                }
                            }

                            .line-2 {
                                margin-top: 0.11rem;
                                padding-left: 0.15rem;

                                img.left {
                                    width: 1.6rem;
                                    border-radius: 0.05rem;
                                }

                                .right {
                                    padding-left: 0.3rem;
                                    height: 1.5rem;

                                    .title {
                                        height: 0.7rem;
                                        font-size: 0.26rem;
                                        margin-bottom: 0.12rem;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box; //作为弹性伸缩盒子模型显示。
                                        -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
                                        -webkit-line-clamp: 2; //显示的行
                                        padding-right: 0.15rem;
                                    }

                                    .amount {
                                        height: 0.4rem;
                                        font-size: 0.24rem;
                                        -webkit-text-fill-color: #7b7b7b;
                                        color: #7b7b7b;
                                    }

                                    .status {
                                        font-size: 0.28rem;
                                        -webkit-text-fill-color: #c6010c;
                                        color: #c6010c;
                                        padding-right: 0.15rem;
                                        width: 1.5rem;
                                    }


                                    .text {
                                        font-size: 0.24rem;
                                        -webkit-text-fill-color: #7c7c7c;
                                        color: #7c7c7c;
                                        text-align: right;
                                        width: calc(100% - 0.15rem);
                                        padding-right: 0.15rem;
                                    }
                                }
                            }

                            .line-3 {
                                margin-top: 0.45rem;
                                border-top: 1px solid #eeeeee;
                                height: 0.85rem;

                                .btn-black-line {
                                    height: 0.6rem;
                                    line-height: 0.6rem;
                                    width: 1.7rem;
                                    margin: 0;
                                    margin-right: 0.2rem;
                                    font-size: 0.3rem;
                                }

                                .btn-red-line {
                                    height: 0.6rem;
                                    line-height: 0.6rem;
                                    width: 1.7rem;
                                    margin: 0;
                                    margin-right: 0.2rem;
                                    margin-left: 0.2rem;
                                    font-size: 0.3rem;
                                }
                            }

                            &.gift {
                                padding-top: 0.35rem;
                                margin-top: -0.1rem;
                            }
                        }
                    }
                    /*empty*/
                    .empty {
                        height: 7.5rem;

                        img {
                            display: block;
                            width: 30%;
                            height: auto;
                        }

                        .text {
                            font-size: 0.28rem;
                            margin-top: 0.45rem;
                        }
                    }

                    &[data-type="all"] {
                        .empty {
                            display: none;
                        }
                    }

                    &[data-type="empty"] {
                        .items {
                            display: none;
                        }
                    }

                    &[data-tab="1"] {
                        display: block;
                    }
                }
            }
        }
    }

    .modal-delivery, .modal-complete, .modal-success {
        border-radius: 0.15rem;

        img {
            height: 1.15rem;
            width: auto;
            display: block;
            margin: 0.6rem auto 0.4rem;
        }

        .text {
            text-align: center;
            font-size: 0.26rem;
            margin-bottom: 0.6rem;
        }

        .modal-footer {
            height: 0.9rem;
            border-top: 1px solid #eeeeee;

            .btn-cancel {
                width: calc(50% - 1px);
                height: 0.9rem;
                display: block;
                line-height: 0.9rem;
                text-align: center;
                font-size: 0.28rem;
                -webkit-text-fill-color: #9f9f9f;
                color: #9f9f9f;
                border-right: 1px solid #eeeeee;
            }

            .btn-ok {
                width: 50%;
                height: 0.9rem;
                display: block;
                line-height: 0.9rem;
                text-align: center;
                font-size: 0.28rem;
                -webkit-text-fill-color: #c6010c;
                color: #c6010c;
            }
        }
    }
}
