body.chanpinguanjia {
    background-color: #f6f6f6;

    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
        }
    }
    /*main*/
    .main {
        height: calc(100vh - 1rem);
        background: url(../image/housekeeper.jpg) no-repeat 0 0;
        background-position: center;
        background-size: 100% 100%;
        position: relative;

        .btns {
            position: absolute;
            bottom: 0;
            width: 92%;
            height: 10%;
            padding: 0 4%;

            .btn {
                width: 47%;
                height: 70%;

                &.btn-left {
                    background: url(../image/btn-phone.png) no-repeat 0 0;
                    background-position: center;
                    background-size: 100% 100%;
                }

                &.btn-right {
                    background: url(../image/btn-service.png) no-repeat 0 0;
                    background-position: center;
                    background-size: 100% 100%;
                }
            }
        }
    }
}
