body.fanhuidanhao {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
            -webkit-text-fill-color: #010101;
            color: #010101;
        }
    }
    /*main*/
    .main {
        margin-top: 0.2rem;
        padding-bottom: 0.5rem;

        .item {
            background-color: #ffffff;
            margin-left: 4%;
            margin-right: 4%;
            height: 1.95rem;
            border-radius: 0.1rem;
            box-shadow: 0 0 3px rgba(0,0,0,0.1);
            padding-left: 0.14rem;
            padding-right: 0.14rem;


            img.left {
                width: 1.26rem;
                height: 1.2rem;
                border-radius: 0.05rem;
            }

            .right {
                padding-left: 0.13rem;
                width: calc(100% - 1.53rem);

                .title {
                    font-size: 0.22rem;
                    margin-bottom: 0.12rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box; //作为弹性伸缩盒子模型显示。
                    -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
                    -webkit-line-clamp: 2; //显示的行
                    height: 0.5rem;
                }

                .amount {
                    font-size: 0.2rem;
                    margin-bottom: 0.14rem;

                    span {
                        padding-right: 0.2rem;
                    }
                }

                .line-2 {
                    font-size: 0.24rem;
                    color: #c6010c;
                    -webkit-text-fill-color: #c6010c;
                }
            }
        }

        .section {
            background-color: #ffffff;
            margin-left: 4%;
            margin-right: 4%;
            margin-top: 0.2rem;
            overflow: hidden;

            .line-text {
                height: 1.28rem;
                border-bottom: 1px solid #f6f6f6;
                padding-left: 0.14rem;
                padding-right: 0.14rem;

                .title {
                    padding-right: 0.5rem;
                    font-size: 0.26rem;

                    span {
                        margin-right: 0.4rem;
                    }
                }

                .text {
                    font-size: 0.26rem;
                    margin-right: 0.1rem;
                }
            }

            .btn-red {
                width: 50%;
                margin: 0.9rem auto;
                display: block;
                height: 0.75rem;
                line-height: 0.75rem;
                border-radius: 0.375rem;
                font-size: 0.34rem;
            }
        }
    }
}
