body.guanyuwomen {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
        }
    }
    /*main*/
    .main {
        height: calc(100vh - 1rem);

        .items {
            padding-top: 0.04rem;

            .item {
                width: 92%;
                height: 0.85rem;
                padding: 0 4% 0 4%;
                margin-bottom: 0.02rem;
                background-color: #ffffff;

                .left {

                    .title {
                        line-height: 0.85rem;
                        font-size: 0.3rem;
                    }
                }

                .right {
                    height: 0.24rem;
                    width: auto;
                }
            }
        }

    }
}
