body.tijiaochenggong {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
            -webkit-text-fill-color: #010101;
            color: #010101;
        }
    }
    /*main*/
    .main {
        padding-top: 20%;

        img {
            height: 1.4rem;
            width: auto;
        }

        .text {
            margin-top: 0.4rem;
            font-size: 0.32rem;
            margin-bottom: 0.2rem;
        }

        .sub-text {
            font-size: 0.28rem;
            color: #969696;
            -webkit-text-fill-color: #969696;
        }

        .btn-red {
            margin-top: 0.5rem;
            width: 50%;
            height: 0.75rem;
            line-height: 0.75rem;
            border-radius: 0.375rem;
        }
    }
}
