body.xiugaizhifumima {
    background-color: #f6f6f6;
    /*header*/
    .header {
        position: relative;
        background: #ffffff;
        height: 1rem;


        .close {
            position: absolute;
            left: 4%;
            top: 50%;
            transform: translateY(-50%);
            width: 0.2rem;
            height: auto;
        }

        .logo {
            width: 0.5rem;
            height: 0.5rem;
            margin-right: 0.2rem;
        }

        .text {
            font-size: 0.36rem;
            line-height: 0.36rem;
        }
    }
    /*main*/
    .main {
        height: calc(100vh - 1rem);

        .items {
            padding-top: 0.07rem;

            .item {
                width: 88%;
                height: 0.9rem;
                padding: 0 4% 0 4%;
                margin-bottom: 0.03rem;
                background-color: #ffffff;

                .left {
                    font-size: 0.3rem;
                    width: 28%;
                }

                .right {
                    font-size: 0.22rem;
                    width: 72%;
                    border: none;

                    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                        -webkit-text-fill-color: #9f9f9f;
                        color: #9f9f9f;
                    }

                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        -webkit-text-fill-color: #9f9f9f;
                        color: #9f9f9f;
                    }

                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        -webkit-text-fill-color: #9f9f9f;
                        color: #9f9f9f;
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        -webkit-text-fill-color: #9f9f9f;
                        color: #9f9f9f;
                    }

                    &.short {
                        width: 44%;
                    }
                }

                .btn-red-line {
                    width: 28%;
                    font-size: 0.22rem;
                    height: 0.4rem;
                    line-height: 0.4rem;
                }
            }
        }

        .btn-red {
            font-size: 0.34rem;
            height: 0.86rem;
            line-height: 0.86rem;
            border-radius: 0.43rem;
            margin: 0.8rem auto 0.23rem;
        }

        .ban {
            font-size: 0.24rem;
            height: 0.5rem;
            line-height: 0.5rem;
            padding: 0 0.6rem;
            background-color: #b1afb0;
            border-radius: 0.25rem;
            margin: 0.23rem auto;
            width: 30%;
            text-align: center;
            -webkit-text-fill-color: #ffffff;
            color: #ffffff;
        }
    }

    .modal-success {
        border-radius: 0.15rem;

        img {
            height: 1.15rem;
            width: auto;
            display: block;
            margin: 0.6rem auto 0.4rem;
        }

        .text {
            text-align: center;
            font-size: 0.26rem;
            margin-bottom: 0.6rem;
        }

        .modal-footer {
            height: 0.9rem;
            border-top: 1px solid #eeeeee;

            .btn-cancel {
                width: calc(50% - 1px);
                height: 0.9rem;
                display: block;
                line-height: 0.9rem;
                text-align: center;
                font-size: 0.28rem;
                -webkit-text-fill-color: #9f9f9f;
                color: #9f9f9f;
                border-right: 1px solid #eeeeee;
            }

            .btn-ok {
                width: 50%;
                height: 0.9rem;
                display: block;
                line-height: 0.9rem;
                text-align: center;
                font-size: 0.28rem;
                -webkit-text-fill-color: #c6010c;
                color: #c6010c;
            }
        }
    }
}
